echo "
# Ignore environment files
old/
*.env 
model/
*.bin
*.h5
*.pt
*.json 
__pycache__/  
.ipynb_checkpoints/  

# Ignore data files
data/  

# Ignore virtual environments
venv/  
.trading-bot/  
" > .gitignore  

